<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="TCSCLogging" type="TCSC.Logging.LoggerConfiguration, TCSC.Logger" />
    <section name="repositoryClient" type="TCSC.ObjectRepository.Client.Configuration.RepositoryClientConfigurationSection, TCSC.ObjectRepository.Client" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sentinel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FAS.Prelog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="PrelogContext" connectionString="Data Source=.;Initial Catalog=FAS.Prelog;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="PrelogContext" connectionString="data source=<SQL_SERVER>;initial catalog=<CORE_DB>;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FaContext" connectionString="data source=<SQL_SERVER>;initial catalog=<CORE_DB>;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SubmissionEmployeeDataContext" connectionString="data source=<SQL_SERVER>;initial catalog=<CORE_DB>;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AddDefaultEvidenceIfEmpty" value="false" />
    <add key="AgencyNumberStringFormat" value="{0}, {1}" />
    <add key="CoreObjectRepositoryName" value="Core" />
    <add key="ExternalObjectRepositoryName" value="External" />
    <add key="DatabaseOfflineMessage" value="The database is offline." />
    <add key="DefaultAgencyId" value="<FBI Headquarters Agency ID>" />
    <add key="DefaultAgencyLocationId" value="<FBI Headquarters Agency Location ID>" />
    <add key="DefaultEntityType" value="5" />
    <add key="DefaultEvidenceDescription" value="Default Description" />
    <add key="DefaultEvidenceTypeCode" value="I" />
    <add key="DefaultLabId" value="<Criminal Lab ID>" />
    <add key="DefaultLabSectionId" value="<Evidence Control Section ID>" />
    <add key="DeliveryMethodCode" value="<Federal Express Delivery Method Code" />
    <add key="ImportedBy" value="0" />
    <add key="OrganizationPrefix" value="<FBI Organization Prefix>" />
    <add key="SubmissionType" value="<Sentinel Submission Type ID>" />
    <add key="PluginsDirectoryPath" value="Plugins" />
    <add key="PrelogReportTemplateDirectoryPath" value="ReportTemplates\PrelogSubReport.repx" />
    <add key="TemporaryFileDirectoryPath" value="TemporaryFiles" />
    <add key="DefaultServiceAddress_CaseManager" value="net.tcp://<clustered_machine_name:Port/fa/api/1.0/CaseManager" />
    <add key="DefaultServiceAddress_GatewayManager" value="net.tcp://<clustered_machine_name:Port/fa/api/1.0/GatewayManager" />
    <add key="DefaultServiceAddress_LookupsManager" value="net.tcp://<clustered_machine_name:Port/fa/api/1.0/LookupsManager" />
    <add key="DefaultServiceAddress_SequenceManager" value="net.tcp://<clustered_machine_name:Port/fa/api/1.0/SequenceManager" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Sentinel.Properties.Settings>
      <setting name="RecordStatusFilter" serializeAs="String">
        <value>T</value>
      </setting>
      <setting name="RecordStatusMaps" serializeAs="String">
        <value>A|A,C|C,B|E,D|E,E|E,F|E,L|E,M|E,R|E,V|E,1|E,W|W</value>
      </setting>
      <setting name="ValidationFailureFilters" serializeAs="String">
        <value>The submission type requires at least on item or container of evidence.</value>
      </setting>
    </Sentinel.Properties.Settings>
    <FAS.Prelog.Properties.Settings>
      <setting name="SubmissionAgencyRelationshipCodes" serializeAs="String">
        <value>"INV"</value>
      </setting>
      <setting name="DefaultOffenseIds" serializeAs="String">
        <value>"5"</value>
      </setting>
      <setting name="DocumentUniqueIdExtendedProperty" serializeAs="Xml">
        <value>
          <ExtendedProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DefinitionId><Extended Data Property Id></DefinitionId>
            <Name>DocumentUniqueId</Name>
            <Value>TEST</Value>
            <Type>Text</Type>
          </ExtendedProperty>
        </value>
      </setting>
      <setting name="DocumentSerialExtendedProperty" serializeAs="Xml">
        <value>
          <ExtendedProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DefinitionId><Extended Data Property Id></DefinitionId>
            <Name>DocumentSerial</Name>
            <Value>TEST</Value>
            <Type>Text</Type>
          </ExtendedProperty>
        </value>
      </setting>
      <setting name="DocumentDateExtendedProperty" serializeAs="Xml">
        <value>
          <ExtendedProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DefinitionId><Extended Data Property Id></DefinitionId>
            <Name>DocumentDate</Name>
            <Value>TEST</Value>
            <Type>DateTime</Type>
          </ExtendedProperty>
        </value>
      </setting>
      <setting name="LeadNumberExtendedProperty" serializeAs="Xml">
        <value>
          <ExtendedProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DefinitionId><Extended Data Property Id></DefinitionId>
            <Name>Lead</Name>
            <Value>TEST</Value>
            <Type>Text</Type>
          </ExtendedProperty>
        </value>
      </setting>
      <setting name="DocumentTypeExtendedProperty" serializeAs="Xml">
        <value>
          <ExtendedProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DefinitionId><Extended Data Property Id></DefinitionId>
            <Name>DocumentType</Name>
            <Value>FD1121</Value>
            <Type>Text</Type>
          </ExtendedProperty>
        </value>
      </setting>
    </FAS.Prelog.Properties.Settings>
  </applicationSettings>
  <repositoryClient tempPath="FA_TEMP_DIRECTORY">
    <repositories>
      <repository name="Core"
				  context="Core"
				  chunkSize="2097152"
				  endpoint="OR" />
      <repository name="External"
				  context="External"
				  chunkSize="2097152"
				  endpoint="OR_LOCAL" />
    </repositories>
  </repositoryClient>
  <TCSCLogging logPath="C:\Logs"
			   logName="FASPrelogService"
			   level="Verbose"
			   maxMessageSize="65536"
			   maxFileSize="10485760"
			   maxFiles="2"
			   consoleLevel="Verbose" />
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- This custom extension allows MEF to inject dependencies into the WCF as the service receives requests -->
        <add name="endpointComposed" type="FAS.Prelog.MEF.WCF.Behaviors.Endpoints.EndpointComposedElement, FAS.Prelog.MEF" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Sentinel.Core.Services.CaseManagerService" behaviorConfiguration="debug">
        <host>
          <baseAddresses>
            <add baseAddress="http://<SERVER_IP:PORT>/PrelogService/" />
          </baseAddresses>
        </host>
        <!--Endpoint addresses relative to the baseAddress entry-->
        <endpoint address=""
				  behaviorConfiguration="largeFiles"
				  binding="basicHttpBinding"
				  bindingConfiguration="largeFiles"
				  contract="FAS.API.ServiceContracts.ICaseManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint name="OR"
				address="net.tcp://<OR_SERVICE:PORT>/tcsc/fas/or"
				behaviorConfiguration="largeFiles"
				binding="netTcpBinding"
				bindingConfiguration="largeFiles"
				contract="TCSC.ObjectRepository.Contracts.IRepositoryService" />
      <endpoint name="OR_LOCAL"
				address="net.tcp://<OR_SERVICE:PORT>/tcsc/fas/or"
				behaviorConfiguration="largeFiles"
				bindingConfiguration="largeFiles"
				binding="netTcpBinding"
				contract="TCSC.ObjectRepository.Contracts.IRepositoryService" />
    </client>
    <bindings>
      <!--NetTCP binding for access to local OR services-->
      <netTcpBinding>
        <binding name="largeFiles" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>
      <!--HttpBinding for client access to the service-->
      <basicHttpBinding>
        <binding name="largeFiles" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
        <!--MEX Http binding for access to service metadata-->
        <binding name="mexHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="largeFiles">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- This element links endpoint behavior to the custom MEF behavior -->
          <endpointComposed />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>